* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #0f0f0f;
    color: #fff;
    scroll-behavior: smooth;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: #141414;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo {
    font-size: 24px;
    font-weight: 600;
    color: #00ff99;
}

.logo span {
    color: #fff;
}

.nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 25px;
    font-weight: 500;
    transition: 0.3s;
}

.nav a:hover {
    color: #00ff99;
}

/* ============ HOME ============ */
.home {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(135deg, #0f0f0f, #1a1a1a);
    padding: 0 20px;
    background-image: url(hh.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.home h2 {
    font-size: 36px;
    filter: drop-shadow(0 0 10px #00ff99);
}

.home span {
    color: #00ff99;
}

.home p {
    margin: 15px 0;
    font-size: 18px;
    color: #ccc;
    fill-opacity: inherit;
    filter: drop-shadow(0 0 10px #ff00bf);
}

.btn {
    display: inline-block;
    background: #00ff99;
    color: #0f0f0f;
    padding: 10px 25px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}

.btn:hover {
    transform: scale(1.05);
    background: #00e689;
}

.about {
    padding: 80px 20px;
    text-align: center;
    background: #111;
}

.about h2 {
    color: #00ff99;
    margin-bottom: 20px;
}

.projects {
    padding: 80px 20px;
    background: #0f0f0f;
    text-align: center;
}

.projects h2 {
    color: #00ff99;
    margin-bottom: 40px;
}

.project-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.project-card {
    background: #141414;
    border-radius: 10px;
    width: 280px;
    padding: 15px;
    transition: 0.3s;
    height: 130px;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 255, 153, 0.2);
}

.project-card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.contact {
    background: #111;
    padding: 80px 20px;
    text-align: center;
}

.contact h2 {
    color: #00ff99;
    margin-bottom: 20px;
}

.contact ul {
    list-style: none;
    margin-top: 15px;
}

.contact li {
    margin: 8px 0;
    color: #ccc;
}

.footer {
    background: #0a0a0a;
    text-align: center;
    padding: 15px 10px;
    font-size: 14px;
    color: #888;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        padding: 15px; 
    }

.nav {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav a {
    margin: 8px 0;
}

.home h2 {
    font-size: 26px;
}

.project-list {
    flex-direction: column;
    align-items: center;
}

.project-card {
    width: 90%;
}
}

.sbtn{
    background: #00ff99;
    color: #0f0f0f;
    padding: 8px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
    border: none;
    cursor: pointer;
    margin-top: 10px;

}

.tit{
    margin-bottom: 15px;
}

.project-card img {
    width: 100%;           
    height: 150px;         
    object-fit: cover;     
    border-radius: 10px;   
    margin-bottom: 10px;   
}
.input{
    background: #000000;
    color: #fff;
    padding: 8px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}